# Environment variables
.env
.env.local
.env.*.local
.env.production
backend/.env
frontend/.env

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
venv/
env/
.venv/
ENV/
.venv

# Node
node_modules/
dist/
dist-ssr/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
package-lock.json
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
.project
.settings/

# Firebase
.firebaserc
.firebase/

# OS specific
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride
._*